<h1><%= @topic.name %></h1>
<p style="color:red">New sponsered post button gos to new topic</p>
<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you w   ant to delete this topic?' } %>
<%= link_to "New Sponsered Post", new_topic_path([@sponsered_post]), class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
<!-- iterate over posts belonging to @ topic -->
    <% @topic.posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post.title, topic_post_path(@topic, post) %>
          </h4>
          <small>
             submitted <%= time_ago_in_words(post.created_at) %> ago <br>
             <%= post.comments.count %> Comments
           </small>
        </div>
      </div>
    <% end %>
    <p style="color:red">not sure how to make sponsered posts show up or how they should show up</p>
  </div>

